.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}

.imgBox {
  display: block;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
